.return_to_all{
	position:absolute;
	left:10px;
	top:72px;
	width:336px;
	border:1px solid #7A8895;
	background-color: #FFFFFF;
	font-size: 12px;
	border-radius:2px;
	padding: 0 0 0 20px;
	height:40px;
	color: #5c9df5;
}
.search_res{
	position:absolute;
	left:10px;
	top:122px;
	width:356px;
}
.search_title_area{
	padding: 0 14px 0 16px;
	height:40px;
	background-color: #5c9df5;
	color:#FFFFFF;
	margin-bottom: 10px;
}

.car_plan_area{
	background-color: #FFFFFF;
	/*position:absolute;
	left:10px;
	top:280px;*/
	width:100%;
	max-height: 150px;
	overflow-y: auto;
}

div#car_plan table tbody td{
	border-top: 1px solid;
	height: 22px;
}
div#car_plan table td{
	text-align: center;
}